
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
}

.container{
  margin-left: 31vw;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}
.pad{
  width: 50%;
}

.pad-0{
border-top-left-radius: 250px;
}
.pad-1{
border-top-right-radius: 250px;
}
.pad-2{
border-bottom-left-radius: 250px;
}
.pad-3{
border-bottom-right-radius: 250px;
}